
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFE7C7;
background: linear-gradient(90deg, #FFF3E3 0%, #FFF1DD 35%, #FFE7C7 100%);
max-width: 100%;
overflow-x: hidden;
}

